.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.0rem;
    height: 3.0rem;
    color: white;
    position: absolute;
    top: 1rem;
    left: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index:998;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.5rem #66B2FF;
}

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background: linear-gradient(to bottom, #FFFFFF 35%, #0066CC 90%);  
}

.top-row {
    height: 80px;
    flex-shrink: 0;
    background: linear-gradient(0deg, #FDFFFF 10%, #97CBFF 70%, #66B3FF 100%);
}

.top-row-font {
    font-size: 1.6rem;
    color: black;
    margin: 0;
    position: absolute;
    right: 3.0rem;
}

.top-row a {
    font-size: 1.1rem;
    color: black;
    margin: 0;
}

.top-row a:hover {
    color: white;
}

.flyout {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(to bottom, #FFFFFF 35%, #0066CC 90%);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.flyout-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flyout-header {
    padding: 40px 0;
}

.flyout-body {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 10px;
}

.flyout-footer {
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex; /* 啟用 Flexbox */
    flex-direction: column; /* 讓 <p> 元素垂直排列 */
    justify-content: center; /* 垂直置中 */
    align-items: center; /* 水平置中 */
    height: 80px; /* 設定 footer 高度，必要時調整 */
    text-align: center; /* 確保文字水平置中 */
}


/*@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: block;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}*/

/*@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}*/

